[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
flask = "*"
flask-sqlalchemy = "*"
deepgram-sdk = "*"
aiohttp = "*"
flask-socketio = "*"
eventlet = "*"
flask-cors = "*"
pydub = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
flask-migrate = "*"
flask-restful = "*"
flask-bcrypt = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "3.12"
